/*GENERAL*/
.grisdeg, li{
    background: linear-gradient(white, lightgray);
}
/*tachar lista*/
li.checked{
    text-decoration: line-through;
}
/*lista*/
li{
    margin-top: 1%;
    padding: 2%;
    margin-left: -8%;
}
ul{
    list-style-type: none;
}



